/** @import url("https://fonts.googleapis.com/css?family=Roboto"); **/
button {
  cursor: pointer;
}
button:hover {
  background: #0c4ddb;
}
button:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
background: #BDBDBD;
border-radius: 6px;
}

::-webkit-scrollbar-thumb {background-color: #3e96fa;border-radius: 3px;outline: 1px solid lime;}

@media only screen and (min-width: 40em) {
  .modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  }
  .modal-overlay.active {
    opacity: 1;
    visibility: visible;
  }
}
/**
 * Modal
 */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  width: 600px;
  max-width: 75rem;
  min-height: 20rem;
  padding: 1rem;
  border-radius: 3px;
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
.modal .close-modal {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 15px;
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.3s;
}
.modal .close-modal svg {
  width: 1.75em;
  height: 1.75em;
}
.modal .modal-content {
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.3s;
}
.modal-content{
  width: 100%;
}
.modal.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.modal.active .modal-content {
  opacity: 1;
}
.modal.active .close-modal {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 1;
}

/**
 * Mobile styling
 */
@media only screen and (max-width: 39.9375em) {
  h1 {
    font-size: 1.5rem;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    border-radius: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    padding: 0 !important;
  }

  .close-modal {
    right: 20px !important;
  }
}
body {
  font-family: "Roboto", sans-serif;
  min-height: 100%;
  position: relative;
  padding-bottom: 3rem;
  margin: 0;
}

h2 {
  margin: 0px;
}

h6 {
  margin: 0px;
  color: #777;
}
.result-dirs::-webkit-scrollbar {
    width: 1em;
}

.result-dirs::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 6px;
}

.result-dirs::-webkit-scrollbar-thumb {
  background-color: #324a5ebd;
  border-radius: 3px;
  outline: 1px solid #eeeeee;
}
.wrapper {
  text-align: center;
  margin: 50px auto;
}

.tabs {
  margin-top: 50px;
  font-size: 15px;
  padding: 0px;
  list-style: none;
  background: #fff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  display: inline-block;
  border-radius: 50px;
  position: relative;
}

.tabs a {
  text-decoration: none;
  color: #777;
  text-transform: uppercase;
  padding: 10px 20px;
  display: inline-block;
  position: relative;
  z-index: 1;
  transition-duration: 0.6s;
}

.tabs a.active {
  color: #fff;
}

.tabs a i {
  margin-right: 5px;
}

.tabs .selector {
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  border-radius: 50px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background: #05abe0;
  background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
  background: -webkit-linear-gradient(45deg, #3e96fa 0%, #05c2ff 100%);
  background: linear-gradient(45deg, #3e96fa 0%, #05c2ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#05abe0",
      endColorstr="#8200f4",
      GradientType=1
    );
}
.container{
  width: 800px;
  margin: 0 auto;
  border-radius: 6px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.18);
  padding: 24px;
  margin-top: 21px;
  border: solid 1px #eee;
  /** overflow: auto; **/
  position: relative;
}
.target_box{
  border: solid 1px #e0e0e0;
  border-radius: 18px;
  background: #ffffff;
  margin: 6px;
  padding: 8px 19px;
  cursor: text;
  outline: none;
  width: 94%;
  color: #6f6f6f;
  text-align: center;
  transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  }

  .target_box:hover {
    border: solid 1px #3e96faf5;
    box-shadow: 0px 0px 10px 1px #2196f361;
  }

.start_scan{
  background: transparent;
  margin: 0px;
  margin-top: 20px;
  border: solid 1px #3e96fa;
  text-decoration: none;
  padding: 5px 30px;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  color: #3e96fa;
  border-radius: 18px;
}
.start_scan:hover{
  background: #3e96fa;
  color: #fff;
  box-shadow: 0px 2px 6px #3e96fa85;
}
.avatar{
  width: 82px;
  border-radius: 100px;
  display: table-cell;
}
.avatar-placeholder{
  width: 30%;
  display: inline-block;
  float: left;
}
.bio-placeholder{
  width: 100%;
  line-height: 25px;
  text-align: center;
  overflow: hidden;
  font-size: 15px;
  letter-spacing: 1px;
}
.result-dirs{
  padding: 7px;
    text-align: left;
    max-height: 800px;
    margin: 14px;
    overflow: auto;
}
.result-single {
      border: solid 1px #324a5e;
      background-image: url(/static/result.svg);
      padding: 6px 44px;
      font-size: 15px;
      margin-bottom: 10px;
      border-radius: 24px;
      background-size: 28px;
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: left;
      background-position-x: 2px;
  }

.result-single:hover{
  background-color: #324a5e;
  color: white;
  transition-timing-function: ease;
  transition: all 0.2s ease-in;
  border: solid 1px #fff;
}

.upload-container{
  background: #eee;
    padding: 4px;
    border-radius: 4px;
    font-size: 15px;
    width: 97%;
    font-weight: bold;
    color: #6b6b6b;
}

.log-holder{
  width: 800px;
  margin: 0 auto;
  margin-top: 34px;
  background: black;
  font-size: 13px;
  font-family: ocraextended;
  color: lime;
  padding: 24px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  max-height: 230px;
  overflow: auto;
  text-align: left;
}

.mainbut {
  width: 47%;
  display: inline-block;
  font-size: 24px;
  padding: 5px;
  border: solid 1px;
  box-shadow: 0px 2px 8px 1px #86878859;
  cursor: pointer;
  border-radius: 4px;
  margin: 4px;
}

.mainbut img{
  width: 50px;
}

.butlocal{
  background: #ffd15c17;
  border: solid 2px #f3705a;
  color: black;
}

.butremote{
  background: #324a5e17;
  border: solid 2px #324a5e;
  color: #12414c;
}

.butremote:hover{
  background: #324a5e;
  color: white;
  box-shadow: 0px 2px 8px 1px #324a5e6b;
  transition: all 0.1s cubic-bezier(0.55, 0, 0.1, 1);
}

.butlocal:hover{
  background: #f3705a;
  box-shadow: 0px 2px 8px 1px #f3705a6b;
  color: white;
  transition: all 0.1s cubic-bezier(0.55, 0, 0.1, 1);
}

.butdesc{
  font-size: 13px;
  padding: 0 !important;
  margin: inherit;
  text-transform: uppercase;
}

#lightSwitchOff{ display:inline; }
#lightSwitchOn{ display:none; }

.log-holder::-webkit-scrollbar {
  width: 7px;
}

.log-holder::-webkit-scrollbar-track {
background: #000;
border-radius: 6px;
}

.log-holder::-webkit-scrollbar-thumb {
background-color: #89ff00;
border-radius: 3px;
outline: 1px solid lime;
}

.dmode{
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 100%;
  height: 27px;
  width: 27px;
  padding: 10px;
  z-index: 10;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition:         transform .8s ease-in-out;
}

.dmode:hover{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.day{
  background: #fff;
  box-shadow: 0px 0px 20px 1px #ffffff73;
}

.night{
  background: #000;
  box-shadow: 0px 0px 20px 1px #000000;
}

a.paginate_button.current {
  background: #3e96fa;
  color: white;
  cursor: not-allowed;
}

table.result-table{
	width: 100%;
	/* padding: 6px; */
  border-collapse: collapse;
  text-align: left;
}

table.result-table th{
  text-align: left;
  background: #e0e0e0;
  padding: 5px;
  color: #000000;
}

table.result-table tr{
  background: transparent;
  border: solid 1px #e0e0e0;
  color: #6b6b6b;
}

table.result-table tr:hover{
  box-shadow: 1px 1px 6px 0px #9898988f;
  color: #000000;
  background: #ffffff;
  border: solid 1px #ffffff;
  transition: all ease 0.2s;
}

table.result-table td{
  padding: 8px 5px !important;
  max-width: 500px;
  font-size: 14px;
  word-break: break-all;
}

div#result-table_wrapper {
}

.dataTables_length{
    width: 50%;
    float: left;
    padding: 10px;
    padding-left: 0px;
    font-weight: bold;
    text-align: left;
    color: gray;
}
.dataTables_length select{
  border: solid 1px #3e96fa;
  padding: 2px;
  background: #3e96fa;
  color: #ffffff;
}
.dataTables_length select:hover{
    border: solid 1px #676767;
    transition: all ease 0.2s;
}
.dataTables_filter{
    width: 44%;
    float: right;
    padding: 10px;
    /* font-weight: bold; */
    padding-right: 0px;
    text-align: right;
    color: black;
}

.dataTables_filter input{
  background: #ffffff;
  padding: 4px;
  border-radius: 21px;
  border: solid 1px #bdbdbd;
  color: #3e96fa;
  outline: none;
  margin-left: 5px;
}
.dataTables_filter input:hover{
  border: solid 1px #3e96fa96;
  transition: all ease 0.2s;
}
.dataTables_info{
    padding: 7px;
    font-weight: 500;
    margin-top: 15px;
    color: #3c3c3c;
    text-align: left;
    width: 40%;
    display: inline-block;
    float: left;
}
.paginate_button{
  background: transparent;
  color: #3e96fa;
  border: solid 1px #3e96fa;
  padding: 3px 7px;
  border-radius: 2px;
  width: 100%;
  margin: 2px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}
.paginate_button:hover{
  background: #3e96fa;
  color: white;
  transition: all ease 0.2s;
}
.dataTables_paginate{
	margin-top: 20px;
	text-align: right;
	display: inline-block;
	width: 50%;
}
.paginate_button .current, .disabled{
  background: #757575;
  color: #ffffff;
  border: solid 2px #757575;
  cursor: not-allowed;
}
.paginate_button .current, .disabled:hover{
	background: black;
	color: gray;
	cursor: not-allowed;
}
.querybox{
    background: #272727;
    padding: 5px 15px;
    color: #109be1;
    width: fit-content;
    border-radius: 5px;
}
th.sorting_asc {
  border-bottom: solid 1px #109be1;
  color: #109be1 !important;
}
th.sorting_desc {
    border-top: solid 1px #109be1;
    color: #109be1 !important;
}
.logo-placeholder{
  text-align: center;
}
.inline-note{
  padding: 13px 8px;
  font-size: 14px;
  background: #ffffff;
  margin-top: 19px;
  color: #3e96fa;
  border-radius: 5px;
  border: solid 1px #3e96fa;
  border-left: solid 5px #3e96fa;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.result-header{
  color: #28b78d;
  margin-bottom: 16px;
  text-transform: uppercase;
  letter-spacing: 1ch;
}

.permission{
  display: inline-block;
  padding: 5px 12px;
  margin: 3px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  background: #3e96fa;
  box-shadow: 0px 0px 4px 2px #13131330;
}

.permission:hover {
  box-shadow: 0px 0px 9px 2px #3e96fa7a;
  background: #fff;
  color: #3e96fa;
}

.fstats {
  display: inline-block;
  width: 15%;
  background: #00ff48;
  padding: 8px 4px;
  border-radius: 4px;
  box-shadow: 0px 0px 1px 0px #0006;
}

ul.result-tabs{
  margin: 0px;
  width: 100%;
  /* border-spacing: 7px; */
  border-collapse: separate;
  display: table;
  padding: 0;
  padding-bottom: 0px;
  list-style: none;
}
ul.result-tabs li{
  /* background: #e6e6e6; */
  color: #000000;
  display: table-cell;
  padding: 10px 6px;
  cursor: pointer;
  margin-bottom: -17px;
  border-bottom: solid 2px #c8c8c8;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}

ul.result-tabs li.current{
  border-bottom: solid 2px #3e96fa;
  color: #3e96fa;
}

ul.result-tabs li:hover {
  border-bottom: solid 2px #000000;
}

.tab-content{
  display: none;
  border-radius: 7px;
  margin: 13px 0px;
  box-shadow: 0px 3px 6px 0px #dedede;
  background: #fafafa;
  padding: 15px;
}

.tab-content.current{
  display: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-transform: uppercase;
  font-size: 12px;
  background-color: #ffffff;
  letter-spacing: 3px;
  color: #000000;
  box-shadow: 0px -2px 9px 0px #0c0c0c26;
  text-align: center;
}

img.cat-image {
  width: 100px;
  margin-bottom: 10px;
}

.pill {
  display: table-cell;
  text-align: center;
  border: solid 1px;
  padding: 7px;
  cursor: pointer;
  border-radius: 5px;
}

.gchrome {
  border: solid 2px #FF9800;
  color: #FF9800;
}

.mfirefox {
  border: solid 2px #FF5722;
  color: #FF5722;
}

.mfirefox:hover {
  background: #FF5722;
  color: white;
  transition: all 0.2s;
  box-shadow: 0px 0px 6px 1px #ff00005e;
}

.gchrome:hover {
  background: #FF9800;
  color: white;
  transition: all 0.2s;
  box-shadow: 0px 0px 6px 1px #ff00005e;
}

.pill-container {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px;
}

.opera {
  border: solid 2px red;
  color: red;
}

.opera:hover {
  background: red;
  color: white;
  transition: all 0.2s;
  box-shadow: 0px 0px 6px 1px #ff00005e;
}

::-moz-selection { 
  color: #fff;
  background: #3e96fa;
}

::selection {
  color: #fff;
  background: #000000;
}

div#loading {
  width: 100%;
  height: 100%;
  left: 0;
  padding-top: 10%;
  letter-spacing: 5px;
  top: 0;
  font-family: ocraextended;
  z-index: 99999;
  position: fixed;
  background: #000000eb;
  color: #fff;
}

.ext-info-body {
  width: 100%;
  display: inline-block;
  padding: 9px;
  vertical-align: middle;
  z-index: 1;
  position: relative;
  border-radius: 6px;
  box-shadow: 0px 0px 15px 0px #797979;
  background: #177cef;
  color: #fff;
}

.ext-info-img {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  background: #fff;
  padding: 19px;
  vertical-align: middle;
  border: solid 7px #F44336;
  border-radius: 50%;
  font-size: 28px;
  color: red;
  font-weight: bold;
  box-shadow: inset 0px 0px 3px 2px #00000047;
  letter-spacing: 4px;
  line-height: 50px;
  position: relative;
  z-index: 55;
}

.ext-info-col1 {
  width: 65%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.ext-info-col2 {
  display: inline-block;
  width: 10%;
  border-left: solid 2px #464545;
  font-size: 13px;
  vertical-align: middle;
  padding: 7px;
}

.ext-info-col3 {
  display: inline-block;
  width: 17%;
  border-left: solid 2px #464545;
  font-size: 13px;
  vertical-align: middle;
  padding-left: 8px;
}

.ext-info-name {
  width: 100%;
  display: inline-block;
  font-size: 22px;
}

.ext-info-version {
  display: inline-block;
  margin: 5px;
  margin-left: 0px;
  padding: 3px 10px;
  background: #ffffff;
  color: #177cef;
  border-radius: 3px;
  font-size: 13px;
}

.ext-info-author {
  display: inline-block;
  margin: 5px;
  padding: 3px 10px;
  background: #FFEB3B;
  color: #000;
  font-size: 13px;
  border-radius: 3px;
}

.ext-info-main {
/**  background: #e6e6e6; **/
}

.ext-info-description {
  font-size: 13px;
  margin-top: 5px;
}

.ext-info-last-scanned{
  display: inline-block;
  margin: 5px;
  padding: 3px 10px;
  background: #000000;
  color: #fff;
  font-size: 13px;
  border-radius: 3px;
}

.ext-info-img img {
  width: 50%;
}

.log-actions {
  width: 800px;
  background: black;
  margin: 0 auto;
  padding: 15px 24px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 20px;
}

.clear-logs-button {
  border: solid 1px red;
  background: transparent;
  color: red;
  font-weight: bold;
  font-size: 15px;
  font-family: ocraextended;
  border-radius: 3px;
  padding: 6px 23px;
  display: inline-block;
  width: 40%;
}

.logs-explorer-button {
  border: solid 1px #03A9F4;
  background: transparent;
  font-family: ocraextended;
  color: #03A9F4;
  border-radius: 3px;
  padding: 6px 23px;
  display: inline-block;
  width: 40%;
  font-weight: bold;
  font-size: 15px;
}

.clear-logs-button:hover {
  background: red;
  color: black;
}

.logs-explorer-button:hover {
  color: black;
  background: #03A9F4;
}

.perm {
  background: #ffffff;
  margin-bottom: 9px;
  color: #3e96fa;
  box-shadow: 0px 0px 4px 0px #afafaf;
  border-radius: 4px;
  text-align: left;
  display: table-cell;
  border-spacing: 5px;
}

.perm-desc {
  padding: 10px;
  color: #000000;
  border-radius: 4px;
  margin: 5px 0px;
}

.perm-warn {
  padding: 10px;
  background: transparent;
  color: #f70a2a;
  border-radius: 4px;
  margin: 5px 0px;
  font-weight: bold;
}

.perm-name {
  text-align: center;
  font-size: 20px;
  color: white;
  background: #3e96fa;
  /* font-weight: bold; */
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.permissions-holder {
  display: table;
  border-spacing: 5px;
}

.file_name {
  width: 100%;
  text-align: left;
  font-size: 21px;
  margin-bottom: 5px;
}

.file_location {
  display: inline-block;
  font-size: 12px;
  background: #ccc;
  padding: 3px 9px;
  border-radius: 2px;
}

.file_attrs {
  text-align: left;
  font-size: 12px;
}

.file_type {
  display: inline-block;
  background: #05abe0;
  font-weight: bold;
  border-radius: 2px;
  color: white;
  padding: 3px 6px;
}

.file_size {
  display: inline-block;
  background: #28b78d;
  font-weight: bold;
  border-radius: 2px;
  color: white;
  padding: 3px 6px;
}

.file_info {
  border: solid 1px #eee;
  padding: 7px;
  background: #eee;
  border-radius: 3px;
}

.file_icon {
  display: inline-block;
  padding-right: 12px;
  text-align: left;
  float: left;
}

.source_code {
  height: 430px;
  overflow-y: scroll;
  text-align: left;
  width: 95%;
  border: solid 1px #3e96fa;
  padding: 8px;
  background: #ffffff;
  color: #3e96fa;
  margin-top: 20px;
}

.CodeMirror {
  margin-top: 24px;
  text-align: left;
  height: 450px !important;
}

.editor_buttons {
  margin-top: 10px;
}

.format_button {
  border: solid 1px #1d89ff;
  background: transparent;
  color: #1d89ff;
  font-size: 15px;
  padding: 7px 23px;
  letter-spacing: 2px;
  border-radius: 3px;
  box-shadow: 0px 0px 9px 1px #1d89ff54;
}

.format_button:hover{
  background: #1d89ff;
  color: #fff;
}

.file_image {
  float: left;
  margin-right: 22px;
  display: inline-block;
}

.file_body {
  width: 90%;
  display: inline-block;
}

.file_image img {
  width: 44px;
}

.header_for_main{
  color: #ffffff;
  background: #3e96fa;
  border-bottom: solid 1px #3e96fa;
  margin: -25px;
  margin-bottom: 28px;
  padding: 6px;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.header_for_sub{
  color: #ffffff;
  background: #3e96fa;
  border-bottom: solid 1px #3e96fa;
  margin: -15px;
  margin-bottom: 28px;
  padding: 6px;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: normal;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.option_body {
  padding: 8px;
  text-align: left;
  padding-left: 13px;
  /* border: solid 1px #d6d6d6; */
  margin-bottom: 17px;
}

.option_name {
  text-align: left;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0px;
  margin-bottom: 7px;
  color: #ff3d00;
  padding-bottom: 6px;
  border-bottom: solid 1px #d6d6d6;
}

.option_description {
  text-align: left;
  color: #616060;
  font-size: 13px;
  letter-spacing: 0.5px;
}

.delete_button {
  border: solid 1px #ff5964;
  background: transparent;
  color: #ff5964;
  box-shadow: 0px 0px 7px 0px #ff596459;
  border-radius: 18px;
  text-transform: uppercase;
  min-width: 225px;
  margin-top: 6px;
  padding: 5px 30px;
  font-size: 12px;
  letter-spacing: 1px;
}

.delete_button:hover {
  background: red;
  color: white;
  border: solid 1px red;
  box-shadow: 0px 2px 6px #ff5964c2;
}

#musicButton {
  position: fixed;
  bottom: 83px;
  right: 20px;
  color: white;
  background: #E91E63;
  border-radius: 100%;
  height: 27px;
  width: 27px;
  padding: 10px;
  z-index: 10;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition:         transform .8s ease-in-out;
  box-shadow: 0px 0px 10px 0px #E91E63;
}

#musicButton:hover, .change_music:hover, .play_pause:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.accordion__item {
  width: 100%;
}
.accordion__question:after {
  content: "   ▼";
  text-align: right;
  float: right;
}
.accordion__answer {
  display: none;
  font-size: 14px;
  line-height: 19px;
  margin-top: 6px;
  border-top: solid 1px #3e96fa;
  padding-top: 10px;
}

.accordion {
  width: 98%;
  text-align: left;
  background: #ffffff;
  border: solid 1px #dedede;
  border-radius: 3px;
  color: #000;
  padding: 11px;
  margin-bottom: 7px;
  cursor: pointer;
}

.accordion__question {
  color: #656565;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 100%;
}

.accordion__question:hover {
  color: #3e96fa;
}

.accordion:hover {
  box-shadow: 0px 0px 7px 0px #c8c8c896;
}

.accordion:active {
  box-shadow: 0px 0px 7px 0px #c8c8c896;
}

.accordion__question:active {
  color: #3e96fa;
}
.stats {
  display: inline-block;
  height: 381px;
  padding: 11px;
  vertical-align: top;
  width: 43%;
  text-align: left;
  background: white;
  box-shadow: 0px 0px 8px 0px #ccc;
  border-radius: 6px;
  margin: 0px 10px;
}
.stats_head {
  margin: -11px;
  margin-bottom: 12px;
  border-top: solid 3px #000;
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 6px;
}

.stats_body {
  line-height: 30px;
  text-align: center;
}

.stats_pill {
  display: inline-block;
  margin: 15px;
  width: 23%;
  padding: 6px 1px;
  align-self: center;
  background: #ccc;
  border-radius: 5px;
  text-align: center;
}

.stats_pill img {
  width: 52px;
}

.stats_data {
  background: #000;
  color: white;
  letter-spacing: 1px;
  font-size: 12px;
  margin: -6px -1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.stats_pill:hover {
  box-shadow: 0px 0px 12px 0px #00000063;
}

.mid-head {
  background: #fff !important;
  color: #000 !important;
}

.sub_body {
  box-shadow: 0px 7px 8px 0px #ccccccd4 !important;
}


.graph-container {
  width: 90%;
  background: #ffffff;
  padding: 20px;
  box-shadow: 0px 0px 14px 0px #00000045;
  margin: 0 auto;
  border-radius: 5px;
  text-align: left;
  margin-top: 20px;
}

div#large-graph {
  height: 700px;
  background: #000;
  width: 87%;
  padding-right: 5px;
  border-radius: 5px;
  display: inline-block;
  border-top-right-radius: 0px;
  border-top: solid 3px #4eeeb2;
  border-bottom-right-radius: 0px;
}

.graph-control {
  display: inline-block;
  width: 11%;
  background: #171717;
  border-left: dotted 1px #4eeeb2;
  float: right;
  height: 700px;
  border-top: solid 3px #4eeeb2;
  padding: 0px 7px;
  border-top-right-radius: 5px;
  overflow: hidden;
  margin-left: -5px;
  border-bottom-right-radius: 5px;
}

.control-title {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #4eeeb2;
  padding-top: 3px;
  text-align: center;
  margin-bottom: 8px;
}

.control-body {
  font-size: 15px;
}


.jsontree_bg {
  background: #FFF;
}

/* Styles for the container of the tree (e.g. fonts, margins etc.) */
.jsontree_tree {
  padding: 15px;
  border-radius: 5px;
  list-style-type: none;
  font-size: 14px;
  color: #000;
  background: #ffffff;
}

/* Styles for a list of child nodes */
.jsontree_child-nodes {
  display: none;
  /* margin-left: 35px; */
  border-left: dotted 1px #6d6d6d;
  margin-top: 5px;
  line-height: 21px;
}
.jsontree_node_expanded > .jsontree_value-wrapper > .jsontree_value > .jsontree_child-nodes {
  display: block;
  list-style-type: none;
}

/* Styles for labels */
.jsontree_label-wrapper {
  float: left;
  font-weight: bold;
  margin-right: 8px;
}
.jsontree_label {
  font-weight: normal;
  vertical-align: top;
  margin-left: 1px;
  position: relative;
  border-bottom: solid 2px transparent;
  padding: 1px 5px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #009688;
  cursor: default;
  transition: all 0.2s ease-in;
}
.jsontree_node_marked > .jsontree_label-wrapper > .jsontree_label {
  background: #fff2aa;
}

/* Styles for values */
.jsontree_value-wrapper {
  display: block;
  overflow: hidden;
}
.jsontree_node_complex > .jsontree_value-wrapper {
  overflow: inherit;
}
.jsontree_value {
  vertical-align: top;
  display: inline;
}
.jsontree_value_null {
  color: #c8c8c8;
  font-weight: bold;
}
.jsontree_value_string {
  color: #424242;
  padding: 1px 5px;
  transition: all 0.2s ease-in;
  border-radius: 2px;
  letter-spacing: 1px;
}
.jsontree_value_number {
  color: #FF9800;
  font-weight: bold;
}
.jsontree_value_boolean {
  color: #ff0300;
  font-weight: bold;
}

/* Styles for active elements */
.jsontree_expand-button {
  position: absolute;
  top: 3px;
  left: -15px;
  display: block;
  width: 11px;
  height: 11px;
  background-image: url('../images/vectorpaint.svg');
}
.jsontree_node_expanded > .jsontree_label-wrapper > .jsontree_label > .jsontree_expand-button {
  background-position: 0 -11px;
}
.jsontree_show-more {
  cursor: pointer;
}
.jsontree_node_expanded > .jsontree_value-wrapper > .jsontree_value > .jsontree_show-more {
  display: none;
}
.jsontree_node_empty > .jsontree_label-wrapper > .jsontree_label > .jsontree_expand-button,
.jsontree_node_empty > .jsontree_value-wrapper > .jsontree_value > .jsontree_show-more {
  display: none !important;
}
.jsontree_node_complex > .jsontree_label-wrapper > .jsontree_label {
  cursor: pointer;
}
.jsontree_node_empty > .jsontree_label-wrapper > .jsontree_label {
  cursor: default !important;
}

div#manifest-content {
  text-align: left;
  box-shadow: 0px 0px 5px 3px #eee;
  font-size: 12px !important;
}

li.jsontree_node {
  margin-bottom: 5px;
}

.jsontree_label:hover {
  text-shadow: 0px 0px 1px #009688;
  border-bottom: solid 1px #009688;
}

.jsontree_value_string:hover {
  color: #000;
  background: #fff;
  text-shadow: 0px 0px 1px #777;
}

.jsontree_child-nodes:hover {
  border-left: dotted 1px #03A9F4;
}

.stats-q {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.stats-a {
  font-size: 14px;
  color: #4a4949;
}

.nothing{
  background: #cacaca;
  padding: 12px;
  border-radius: 7px;
  color: #404040;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 100;
}

.sub-head-settings {
  text-align: left;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding-bottom: 5px;
}

.settings_textbox {
  background: #ffffff;
  border: solid 1px #bdbdbd;
  padding: 5px 11px;
  letter-spacing: 1px;
  font-size: 13px;
  color: #000000;
  outline: none;
  width: 400px;
  border-radius: 16px;
}

.settings_textbox:focus, .dataTables_filter input:focus {
  color: #3e96fa;
  border: solid 1px #3e96fa;
  box-shadow: 0px 0px 8px 0px #2196f361;
}

.target_box:focus {
    color: #3e96fa;
    border: solid 1px #fffffff5;
    box-shadow: 0px 0px 10px 1px #2196f361;
}

.change_music {
  position: fixed;
  bottom: 83px;
  right: 130px;
  color: white;
  background: #03A9F4;
  border-radius: 100%;
  height: 27px;
  width: 27px;
  padding: 10px;
  z-index: 10;
  box-shadow: 0px 0px 10px 0px #03a9f4;
}

.play_pause {
  position: fixed;
  bottom: 83px;
  right: 75px;
  color: white;
  background: #9C27B0;
  border-radius: 100%;
  height: 27px;
  width: 27px;
  padding: 10px;
  z-index: 10;
  box-shadow: 0px 0px 10px 0px #9C27B0;
}

div#music_buttons {
  position: fixed;
  bottom: 77px;
  right: 35px;
  color: white;
  background: #ffffff;
  width: 130px;
  height: 37px;
  border-radius: 73px;
  padding: 10px;
  border-top-right-radius: 76px;
  border-bottom-right-radius: 76px;
  z-index: 9;
  box-shadow: 0px 0px 13px 0px #0000001f;
}

.settings_textbox:hover {
    border: solid 1px #3e96faa1;
}

.ext_url {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
  font-size: inherit;
}

.ext_url:hover {
  border-bottom: dotted 1px #3e96fa;
  padding-bottom: 4px;
}

.mid_header{
  background: #27272f;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  padding: 2px;
  letter-spacing: 2px;
  font-weight: normal;
  border-radius: 18px;
  margin-top: 15px;
}

.license {
  width: 100%;
  height: 300px;
  background: #cccccc;
  border: none;
  border-radius: 4px;
  color: #000;
  text-align: center;
}

.author_info {
  display: table-cell;
  float: right;
  width: 80%;
  text-align: left;
}

a#change_music:hover {
  background: #00BCD4;
}

a#play_pause:hover {
  background: #cf07f1;
}

a.hreflink {
  text-decoration: none;
  color: #03A9F4;
  border-bottom: dotted 1px #03a9f4;
}

.noscript {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgb(255, 90, 90);
  color: #ffffff;
  letter-spacing: 2px;
}

.sub-head-settingss {
  display: inline-block;
  color: #d0d0d0;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.switch {
  position: relative;
  margin-left: 5px;
  display: inline-block;
}

.switch-input {
  display: none;
}

.switch-label {
  display: block;
  width: 44px;
  height: 14px;
  cursor: pointer;
  padding-top: 2px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.switch-label:before,
.switch-label:after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}
.switch-label:before {
  width: 100%;
  height: 100%;
  background-color: #b5b5b5;
  border-radius: 9999em;
  transition: background-color 0.25s ease;
}
.switch-label:after {
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  transition: left 0.25s ease;
}

.switch-input:checked + .switch-label:before {
  background-color: #39bb00;
}
.switch-input:checked + .switch-label:after {
  left: 24px;
}